.ProjectList {
    font-family:"consolas";
    width: calc(100% - 20px);
    text-transform: capitalize;
}

.ProjectList h1{
    width: 100%;
    text-align: center;
    font-size: 2.0em;
    font-weight: 600;
    margin: 20px 25px;
}

.ProjectList h1::before {
    content: "!--";
    color: rgb(230, 23, 23);
}

.ProjectList h1::after {
    content: "--!";
    color: rgb(230, 23, 23);
}

.ProjectContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    margin: 25px;
    padding: 20px;
    outline: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);  
}

.ProjectDetails {
    width: 50%;
}

.ProjectHeading {
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 0px;
}

.ProjectName::before {
    content: "# ";
    color: rgb(24, 82, 170);
}


.ProjectDescription {
    font-size: 1.2em;
    font-weight: 300;
    margin: 20px 0px;
    border: 1.1em solid transparent;
    border-image: url("../images/comment_border_map.png") 90 round;
}

.ProjectLinkContainer {
    padding: 5px 10px;
    background-color: green;
    width: max-content;
    border-radius: 10px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.ProjectLinkIcon {
    height: 30px;
    vertical-align: middle;
}

.ProjectLink {
    text-decoration: none;
    font-size: 1em;
    font-weight: 400px;
    color: white;
    margin-left: 10px;
}

.Tags::before {
    content: "%";
    color: blue;
}

.Tags::after {
    content: "%";
    color: blue;
}

.TechStackList {
    margin-left: 30px;
}

.TechStackItem {
    display: inline-block;
    margin: 5px 20px 5px 0px;
    font-size: 1.1em;
    font-weight: 800;
    max-width: max-content;
    color: rgb(0, 0, 0);
}

.TechStackItem::before{
    content: "{";
    color: maroon;
}

.TechStackItem::after {
    content: "}";
    color: maroon;
}

.ProjectImage {
    text-align: right;
}

.ProjectImage img{
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(80, 80, 80, 0.541);
}
