.CommandLine {
  margin: 5px;
}

.CommandLine + div{
  margin: 5px;
}

.CommandLine label {
  font-size: 1.1em;
  font-weight: 600;
}

.CommandLine input[type='text'] {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 300;
  margin-left: 10px;
  width: 50%;
}

.CommandLine input:disabled {
  color: black;
}

.UnknownCmd {
  color: rgb(247, 53, 53);
  font-size: 1.0em;
  font-weight: 500;
  padding: 15px 0px;
}


.AboutSatyamContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  
  padding: 2px 10px;
}

.AboutSatyam{
  max-width: 500px;
  box-sizing: border-box;
  padding: 20px;
}

.AboutSatyam h1 {
  font-size: 2em;
  font-weight: 800;
  color: #077728;
}

.AboutSatyam h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.AboutSatyam h3 {
  font-size: 1.3em;
  font-weight: 700;
}

.AboutSatyam h3::before {
  content: "<";
  color: red;
}

.AboutSatyam h3::after {
  content: "/>";
  color: red;
}

.AboutSatyam h4 {
  padding: 10px 0px;
  font-size: 1.0em;
  line-height: 120%;
  font-weight: 400;
  text-align: justify;
}

.SatyamDP img{
  height: 300px;
  margin-right: 40px;
  border-radius: 5px;
}