@font-face {
  font-family: Menlo;
  src: url('../fonts/Menlo.ttf')  format('truetype');
}

.Terminal {
  font-family: Menlo;
}

.CommandLine {
  margin: 5px;
}

.CommandLine + div{
  margin: 5px;
}

.CommandLine label {
  font-size: 1.1em;
  font-weight: 600;
}

.CommandLine input[type='text'], .CommandLine div  {
  display: inline-block;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1.1em;
  font-weight: 300;
  margin-left: 10px;
  width: 50%;
  cursor: default;
}

.CommandLine input:disabled {
  color: black;
}

.UnknownCmd {
  color: rgb(247, 53, 53);
  font-size: 1.0em;
  font-weight: 500;
  padding: 15px 0px;
}